{% extends 'base.html.twig' %}

{% block body %}
	<h1>Tic Tac Toe</h1>

	<form action="{{ path('game_start') }}" method="post">
		<table>
			{%set i = 0 %}
			{% for row in 0..2 %}
				<tr>
					{% for col in 0..2 %}
						<td>
								{%set i = i + 1 %}
								{% if i > 4 and i < 6 %}
									<button type="submit" id="play" name="play">Play</button>
								{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</form>
{% endblock %}

