body {
    /* margin-top: -11vh; */
    background-color: rgb(233, 238, 239);
    background-image: -webkit-linear-gradient(126deg, #6482ad 14%, #e2dad6e8 80%), -webkit-linear-gradient(180deg, #6482ad 28%, #e2dad6a8 29%), -webkit-linear-gradient(104deg, #6482AD 50%, #E2DAD6 15%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 97.8vh;
    align-items: center;
}

#form {
    position: relative;
    /* top: 25%; */
    background-color: #F5EDED;
    width: 25vw;
    height: 25vh;
    border-radius: 30px;
    padding: 2%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

input:not(input[type=checkbox]) {
    border: 2px solid #5B99C2;
    align-self: center;
    border-radius: 15px;
    width: 80%;
    height: 4vh;
}

button.btn,
#form_save {
    border: 2px solid transparent;
    align-self: center;
    border-radius: 15px;
    width: 30%;
    height: 3vh;
}

label {
    align-self: flex-start;
    margin-left: 10%;
}

label.gamebtn {
    width: 7vh;
    height: 7vh;
    border: none;
    border-radius: 13px;
    background-color: #5B99C2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5vh;
    font-family: cursive;
}

#play {
    padding: 3vh;
    background-color: #F1DEC6;
    color: rgb(69, 111, 148);
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: 13px;
    transition: all 500ms ease-in-out;
}

#play.small {
    padding: 1.2vh;
}

#play.small:hover {
    background-color: #f4efe8;
}

.alert-danger {
    font-size: larger;
    color: tomato;
    padding: 3vw;
}

.mb-3 {
    display: flex;
    justify-content: space-evenly;
    padding: 1vw;
    width: 100vw;
    height: 5vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1A4870;
    /* Navy */
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mb-3>*:not(.itemContainer) {
    padding: 1.2vh;
    background-color: #7FA1C3;
    /* Orange */
    color: white;
    /* Text color */
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: 13px;
    margin: 1%;
    cursor: pointer;
}

.item {
    margin-top: 10%;
    background-color: chocolate;
    color: aliceblue;
    font-size: 1rem;
    /* width: 10vw; */
    height: 2vh;
    display: none;
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    transition: all 500ms linear;

}

.menu:hover {
    margin-top: 7.5vh !important;
}

.menu:hover .item {
    display: block;
}

.menu .item:hover {
    background-color: rgb(149, 80, 30);
}

.menu .item:active {
    background-color: rgb(149, 68, 30);
}

.listitem {
    margin-top: 1%;
    background-color: #7FA1C3;
    color: aliceblue;
    font-size: 1rem;
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    text-decoration: none;
    border-radius: 8px;
}

/* .menu2 {
    height: 70px;
    overflow-y: scroll;
} */

.disable {
    filter: opacity(0.5);
    pointer-events: none;
    cursor: not-allowed;
}