<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			<title>
				{% block title %}
					{{ 'welcome'|trans }}
				{% endblock %}
			</title>
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
		{% block script %}{% endblock script %}
	</head>
	<body>
		{% if app.user %}
			{% block header %}
			<div class="language-switcher">
				<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">English</a>
				|
				<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fa'})) }}">فارسی</a>
			</div>
			{% endblock %}
		{% endif %}
		{% block body %}
			
			{% block error %}{% endblock %}
		{% endblock %}
	</body>
</html>
