<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% if app.user %}
			{% block header %}{% endblock %}
		{% endif %}
		{% block body %}
			{% block error %}{% endblock %}
		{% endblock %}
		{% block script %}{% endblock script %}
	</body>
</html>
